services:

  app:
    build: .
    command: python app.py
    environment:
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
      - CLIENT_APP=${CLIENT_APP}
      - CLIENT_TELLUR=${CLIENT_TELLUR}
      - ENVIRONMENT=${ENVIRONMENT}
      - PORT=${PORT}
      - HOST=${HOST}
      - BROKER_IP=${BROKER_IP}
      - BROKER_PORT=${BROKER_PORT}
      - BROKER_USER=${BROKER_USER}
      - BROKER_PASSWORD=${BROKER_PASSWORD}
      - BROKER_HOST=${BROKER_HOST}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_DB=${REDIS_DB}
    ports:
      - "5004:5003"
    restart: always
    networks:
      - backend

  worker:
    build: .
    command: python worker.py
    environment:
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
      - BROKER_IP=${BROKER_IP}
      - BROKER_PORT=${BROKER_PORT}
      - BROKER_USER=${BROKER_USER}
      - BROKER_PASSWORD=${BROKER_PASSWORD}
      - BROKER_HOST=${BROKER_HOST}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
    restart: always
    networks:
      - backend

networks:
  backend:
    driver: bridge
